<nav class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid right">
    <a class="navbar-brand text-white " href="#">Webmedy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active text-white" aria-current="page" <%=link_to "Home", root_path%></a>
        </li>
        <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" <%=link_to "How To Use", howtouse_path%></a>
        </li>
        <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" <%=link_to "Patient Record", details_path%></a>
        </li>

        <li class="nav-item active">
            <% if patient_signed_in? %>
            
                <a class="nav-link active text-white" aria-current="page" <%= link_to "Log Out" , destroy_patient_session_path, data: { turbo_method: :delete}  %> </a>
                
            <%else%>
                <a class="nav-link active text-white" aria-current="page" <%= link_to "Sign Up/Log in" , new_patient_registration_path %> </a>
            <%end%>
            
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            
          <li><a class="dropdown-item" aria-current="page" <%= link_to "Home" , root_path %> </a></li>
            
            <% if patient_signed_in? %>
            
                <li><a class="dropdown-item" aria-current="page" <%= link_to "Log Out" , destroy_patient_session_path, data: { turbo_method: :delete}  %> </a></li>
                
                <li><a class="dropdown-item" aria-current="page" <%= link_to "Full Profile" , fullprofile_path %> </a></li>
                <li><a class="dropdown-item" aria-current="page" <%= link_to "Book Slot"  %> </a></li>
             
                
            
            <%end%>
            
        </li>
            
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>




